{% extends 'base.html' %}
{% block content %}

<h1>New Item</h1>

<form action="{{url_for('main.new_item')}}" method="POST">
    {{form.csrf_token}}
    <fieldset>
        <legend>Please enter your information:</legend>

            {{ form.name.label }}
            {{ form.name }}

            {{ form.price.label }}
            {{ form.price }}

            {{ form.photo_url.label }}
            {{ form.photo_url }}

            {{ form.category.label }}
            {{ form.category }}

            {{ form.submit }}
  
    </fieldset>
</form>


{% endblock %}